# Telegram bot token, olingan @BotFather'dan (masalan: 123456:AAExxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx)
BOT_TOKEN=

# Botingizning username'i (@ belgisisiz), taklif havolalari uchun ishlatiladi
BOT_USERNAME=yumicoin2bot

# Admin bo'ladigan Telegram username'lar, vergul bilan ajratilgan (@ belgisisiz)
ADMIN_USERNAMES=uzalma1,uzalmaz1

# Server porti
PORT=3000

# Ishlab chiqish rejimi — true bo'lsa, Telegram'siz ham brauzerda test qilish mumkin
# PRODUCTIONDA albatta false QILING!
DEV_MODE=true
